[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/enso-weiroll"]
	path = lib/enso-weiroll
	url = https://github.com/EnsoBuild/enso-weiroll
